<div class = "breakpoint" id="c_<%= breakpoint.campaign.id %>_b_<%= breakpoint.id %>">
  <ul>
    <li><%= breakpoint.title %></li>
    <li><%= breakpoint.description %></li>
    <li><%= breakpoint.estimated_delivery %></li>
    <li>Value: <%= breakpoint.value_in_cents %></li>
    <li>Number available: <%= breakpoint.number_available %></li>
    <% if current_user.breakpoints.include? breakpoint %>
      <li>Congratulations, you have backed this project!</li>
    <% else %>
      <li><%= link_to 'contribute here', campaign_breakpoint_contributions_path(breakpoint.campaign, breakpoint), {:method => 'post', :remote => true }%></li>
    <% end %>
  </ul>
</div>
