<div class = "breakpoint" id="b_<%= breakpoint.id %>">
  <ul>
    <li><%= breakpoint.title %></li>
    <li><%= breakpoint.description %></li>
    <li><%= breakpoint.estimated_delivery %></li>
    <li>Value: <%= breakpoint.value_in_cents %></li>
    <li>Pledges made: <%= breakpoint.contributions.count %></li>
    <% if breakpoint.number_available %>
      <li>Rewards remaining: <%= breakpoint.number_available - breakpoint.contributions.count %></li>
    <% end %>
    <% if current_user && current_user.breakpoints.include?(breakpoint)%>
      <li>Congratulations, you have backed this project! </li>

    <% elsif current_user %>

      <%= button_tag 'Contribute here!', {:class => 'contribute-button', data: campaign_breakpoint_contributions_path(breakpoint.campaign, breakpoint)} %>

    <% else %>
      <p>Log in or sign up to contribute.</p>

    <% end %>
  </ul>
</div>
