<ul>
	<li><%= link_to campaign.title, campaign_path(campaign) %></li>
	<li><%= campaign.description %></li>
  <li>Campaign started by: <%= campaign.user.name %></li>
	<li>Begins on: <%= campaign.start_date.to_s(:long_ordinal) %></li>
	<li>Ends on:<%= campaign.end_date.to_s(:long_ordinal) %></li>
	<li>$<%= campaign.target_in_cents %></li>
  <li>Percent complete: <%= campaign.percent_funds_raised %></li>
	<% if campaign.tags.any? %>
		<li>tags:
		<% campaign.tag_list.each do |t| %>
			<%= link_to t, campaigns_path(tag: t) %>
		<% end %>
		</li>
	<% end %>

</ul>

