<ul>
	<li><%= link_to campaign.title, campaign_path(campaign) %></li>
	<li><%= campaign.description %></li>
  <li>Campaign started by: <%= campaign.user.name %></li>
	<li><%= campaign.start_date %></li>
	<li><%= campaign.end_date %></li>
	<li>$<%= campaign.target_in_cents %></li>
</ul>