<li data-equalizer>
	<div class="campaign">
		<div class="campaign-image">
<!-- 220 x 194 -->
		</div>
		<ul data-equalizer-watch>
			<li>
				<div class="campaig-image">
				</div>
			</li>
			<li><%= link_to campaign.title, campaign_path(campaign) %></li>
			<li><p class="sub-p">by: <%= campaign.user.name %></p></li>
			<li><p class="campaign-description"><%= campaign.description %></p></li>
			<li>
				<div class="progress small-12 success round">
		  		<span class="meter" style="width:<%= campaign.total_funds_raised.to_f / campaign.target_in_cents * 100 %>"></span>
		  	</div>
		  </li>
		  <li>
		  	<div data-equalizer-watch class="total-percent">
		  		<p><%= campaign.percent_funds_raised %>% </p>
		  		<p class="sub-p">Funded</p>
		  	</div>
		  	<div data-equalizer-watch class="total-raised">
		  		<p>$<%= campaign.total_funds_raised %></p>
		  		<p class="sub-p">Funds raised</p>
		  	</div>
		  	<div data-equalizer-watch class="days-left">
		  		<p><%= campaign.days_before_end.floor %></p>
		  		<p class="sub-p">Days left</p>
		  	</div>
		  	<div class="clear"></div>
			</li>
			<% if campaign.tags.any? %>
				<li class="campaign-index-tags">tags:
				<% campaign.tag_list.each do |t| %>
					<%= link_to t, campaigns_path(tag: t) %>
				<% end %>
			<% end %>
			</li>
		</ul>
	</div>
</li>
