<h1><%= @campaign.title %></h1>

<ul>
	<li><%= @campaign.description %></li>
	<li><%= @campaign.start_date %></li>
	<li><%= @campaign.end_date %></li>
	<li>$<%= @campaign.target_in_cents %></li>
</ul>