<div class="show-page">
	<section class="show-header">
		<div class="row">
			<div class="messages"></div>
			<div class="center">
				<h1><%= @campaign.title %></h1>
				<p>by: <%= @campaign.user.name %></p>
			</div>
		</div>
	</section>

	<section class="show-body">
		<div class="row">
			<div class="small-12 large-7 columns show-left">
				<div class="campaign-image-large"></div>
				<ul>
					<% if @campaign.start_date > DateTime.now %>
						<li>This campaign has not started yet - Starting in <%= @campaign.days_before_start.ceil.to_i %> days!</li>
					<% else %>
						<li><%= @campaign.days_before_end.ceil.to_i %> of <%= @campaign.total_days.ceil.to_i %> days remaining!</li>
					<% end %>
				</ul>

				<h3>Description</h3>
				<p><%= @campaign.description %></p>


				<h3>Comments on this campaign</h3>
					<div id = "comment-list">
					<% if @campaign.comments[0] != nil %>
							<%= render 'comments/comments' %>
					<% else %>
						<p>No comments yet.</p>
				<% end %>
				</div>

				<% if current_user %>
					<%= render '/comments/comment_form' %>
					<% else %>
					<p>Please <%= link_to "log in", new_session_path %> to comment.</p>
				<% end %>
			</div>

		  <div class="small-12 large-5 columns show-right">
				<ul class="show-total">
					<li id='target'><h2>$<%= @campaign.total_funds_raised %> CAD</h2></li>
					<li>
						<div class="progress large-8 success round">
							<% percent_bar = @campaign.total_funds_raised.to_f / @campaign.target_in_cents * 100 %>
							<span class="meter" style="width: <%= if percent_bar > 100 then 100 else percent_bar end %>%"></span>
						</div>
					</li>
					<li>Raised of $<%= @campaign.target_in_cents %> goal</li>
				</ul>
				<div class="line-separator"></div>

				<% if current_user == @campaign.user %>
					<%= render '/breakpoints/breakpoint_form' %>
				<% end %>
				<h4>Select a perk</h4>
				<div id="campaigns">
					<%= render @breakpoints %>
				</div>
		  </div>
		</div>
	</section>
</div>
