<div class="messages"></div>
<h1><%= @campaign.title %></h1>

<h2>Dates</h2>
<ul>
	<li>Start <%= @campaign.start_date.to_date %></li>
	<li>End <%= @campaign.end_date.to_date %></li>
	<li><%= ((@campaign.end_date - DateTime.now) / 86400).round(0) %> days remaining!</li>
</ul>

<h2>Description</h2>
<p><%= @campaign.description %></p>

<h2>Goal</h2>
<ul>
	<li id = 'target'>Funds raised $<%= @campaign.total_funds_raised %></li>
	<li>goal: $<%= @campaign.target_in_cents %></li>
	<li id = 'percent'>percent: <%= (@campaign.total_funds_raised / @campaign.target_in_cents.to_f * 100).round(1) %></li>
</ul>

<h2>Breakpoints for <%= @campaign.title %></h2>
<div id="campaigns">
	<%= render @breakpoints %>
</div>
<h2>Add breakpoint</h2>

<%= form_for ([@campaign, @breakpoint]) do |f| %>
	<% if @breakpoint.errors.any?  %>
		<div id = "error_explanation">
			<h2><%= pluralize(@breakpoint.errors.count, "error") %> prevented this breakpoint from being saved.</h2>
			<ul>
				<% @breakpoint.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class = "field">
		<p>
			<%= f.label :title %><br/>
			<%= f.text_area :title %>
		</p>
		<p>
			<%= f.label :description %><br/>
			<%= f.text_area :description %>
		</p>
		<p>
			<%= f.label :estimated_delivery %><br/>
			<%= f.date_field :estimated_delivery %>
		</p>
		<p>
			<%= f.label :value_in_cents %><br/>
			<%= f.text_field :value_in_cents %>
		</p>
		<p>
			<%= f.label :number_available %><br/>
			<%= f.text_field :number_available %>
		</p>
	</div>

	<div class = "actions">
		<%= f.submit %>
	</div>
	<% end %>
